

body {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(137, 43, 226, 0.646);
}

.card-footer .btn {
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 13px;
    width: 100%;
    border: none;
    background-color: blueviolet;
    color: white;
    font-size: 18px;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
}

.card-footer .btn:hover {
    opacity: 0.8;
    cursor: pointer;}